body {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(160, 61, 36);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    } 
}
.content{
    display: flex;
    margin: auto;
    width: 45%;
    justify-content: center;
}
.left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.left_area span{
    color: #1de738;
}
.container{
    max-width: 600px;
    position: absolute;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 600;
    margin-top: 90px;
    margin-left: 190px;
    margin-bottom: 20px;
    position: relative;
}
.container .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 228px;
    background: linear-gradient(135deg, #1de738, #2f323a);
}
.container form .user_details{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin: 15px 0 12px 150px;
}
.container form .user_details .input_box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user_details .input_box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user_details .input_box input{
    height: 45px;
    width: 150%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.container form .user_details input:focus,
.container form .user_details input:valid{
    border-color: #2f323a;
}

form .button {
    background: #1de738;
    color: white;
    border-style: outset;
    border-color: #1de738;
    height: 50px;
    width: 600px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    height: 45px;
    margin: 10px 0;
    margin-top: 15px;


}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg, #1de738, #2f323a);
}
form .button input:hover{
    background: linear-gradient(-135deg, #1de738, #2f323a);
}


